body{

}

ul#menu li {
  display: inline;
  margin-right: 1,5%;
}

.flex-wrapper {
 display: flex;
 flex-flow: row nowrap;
}

.circular-chart {
 display: block;
 margin: 10px auto;
 max-width: 80%;
 max-height: 250px;
}

.card-horizontal{
  height: 300px;
}

.small-text{
  font: serif 16px bold;
}

.circle {
 fill: none;
 stroke-width: 2.8;
 stroke-linecap: round;
}

@keyframes progress {
 0% {
   stroke-dasharray: 0 100;
 }
}

.circular-chart.circle-orange .circle {
 stroke: #4CC790;
}

.percentage {
 fill: #666;
 font-family: sans-serif;
 font-size: 0.5em;
 text-anchor: middle;
}
